{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="home_main">
        <h1>{{ "commons.nothing" | trans}}</h1>
        <h2>{{ "commons.contact" | trans}}</h2>
    </div>
</div>
{% endblock %}
