{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form_s') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form') }}
{% endblock %}

{% block body %}

    <div class="flex-column align-items-center size m-5">
        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password)}}


        <div class="mt-20">
            <a href="{{ path('app_user_index') }}" class="btn ml-2 cancel_btn">{{ "commons.back_to_list" | trans}}</a>
            <button type="submit" class="btn submit_btn">{{ "commons.save" | trans}}</button>
        </div>

        {{ form_end(form) }}
    </div>

{#    {{ include('user/_delete_form.html.twig') }}#}
{% endblock %}
