{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>{{ "commons.user" | trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ "commons.id" | trans}}</th>
                <th>{{ "commons.username" | trans}}</th>
                <th>{{ "commons.email" | trans}}</th>
                <th>{{ "commons.roles" | trans}}</th>
                <th>{{ "commons.createdAt" | trans}}</th>
                <th>{{ "commons.updatedAt" | trans}}</th>
                <th>{{ "commons.actions" | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                    <form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                        <button class="btn">{{ "commons.delete" | trans}}</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{{ "commons.no_records_found" | trans}}no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('create_user') }}">{{ "commons.create" | trans}}</a>
{% endblock %}
