{% extends 'base.html.twig' %}

{% block title %}Create new account{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form_s') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form') }}
{% endblock %}

{% block body %}
    <h2>{{ "commons.new_company" | trans}}:</h2>
    <div class="flex-column align-items-center size m-5">
        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password, {
            label: 'Password'
        }) }}

        <div class="mt-20">
            <a href="{{ path('app_home') }}" class="btn ml-2 cancel_btn">{{ "commons.cancel" | trans}}</a>
            <button type="submit" class="btn submit_btn">{{ "commons.create" | trans}}</button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
