{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>{{ "commons.user" | trans}}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>{{ "commons.id" | trans}}</th>
            <th>{{ "commons.username" | trans}}</th>
            <th>{{ "commons.email" | trans}}</th>
            <th>{{ "commons.roles" | trans}}</th>
            <th>{{ "commons.createdAt" | trans}}</th>
            <th>{{ "commons.updatedAt" | trans}}</th>
            <th>{{ "commons.company" | trans}}</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            <td>{{ user.createdAt ? user.createdAt|date('Y-m-d') : '' }}</td>
            <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d') : '' }}</td>
            <td>{{ user.company.name}}</td>
        </tr>

        </tbody>
    </table>

    <a href="{{ path('app_logout') }}">{{ "commons.logout" | trans}}</a>
{% endblock %}
