{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>{{ "commons.user" | trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ "commons.id" | trans}}</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{{ "commons.username" | trans}}</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>{{ "commons.email" | trans}}</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>{{ "commons.roles" | trans}}</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>{{ "commons.password" | trans}}</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>{{ "commons.createdAt" | trans}}</th>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ "commons.ppdatedAt" | trans}}</th>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">{{ "commons.back_to_list" | trans}}</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">{{ "commons.edit" | trans}}</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
