<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar dropdown">
        <div class="container-fluid">
            {{ knp_menu_render('main') }}
        </div>
    </nav>

{#    <ul>#}
{#        <li>#}
{#            <a href="{{ path('app_home') }}" {% if currentRoute == 'home' %}class="active"{% endif %}>Home</a>#}
{#            <a href="{{ path('app_home') }}" >Home</a>#}
{#            <a href="{{ path('create_task') }}" >Create new Task</a>#}
{#            <a href="{{ path('all_tasks') }}" >All Tasks</a>#}
{#            <a href="{{ path('my_tasks') }}" >My Tasks</a>#}
{#            <a href="{{ path('app_login') }}">Login</a>#}
{#            <a href="{{ path('app_logout') }}">Logout</a>#}
{#            <a href="{{ path('app_register') }}">Register</a>#}
{#            <a href="{{ path('user_profile') }}">Profile</a>#}
{#        </li>#}
{#    </ul>#}

        {% block body %}

        {% endblock %}
    <footer>
{#        <a href="{{ path('app_message_new') }}">contact us</a>#}
    </footer>
    </body>
</html>
