{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form_s') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form') }}
{% endblock %}
{% block body %}
    <h1>{{ "commons.edit_task" | trans}}</h1>

    {{ include('task/_form.html.twig') }}

    <a href="{{ path('app_task_index') }}">{{ "commons.back_to_list" | trans}}</a>

    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
