{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
    <h1>Task index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ "commons.id" | trans}}</th>
                <th>{{ "commons.title" | trans}}</th>
                <th>{{ "commons.description" | trans}}</th>
                <th>{{ "commons.dueDate" | trans}}</th>
                <th>{{ "commons.status" | trans}}</th>
                <th>{{ "commons.createdAt" | trans}}</th>
                <th>{{ "commons.updatedAt" | trans}}</th>
                <th>{{ "commons.actions" | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.Title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.dueDate ? task.dueDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.status ? 'Yes' : 'No' }}</td>
                <td>{{ task.createdAt ? task.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.updatedAt ? task.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_task_show', {'id': task.id}) }}">{{ "commons.show" | trans}}</a>
                    <a href="{{ path('app_task_edit', {'id': task.id}) }}">{{ "commons.edit" | trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{{ "commons.no_records_found" | trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('create_task') }}">{{ "commons.create" | trans}}</a>
{% endblock %}
