{% extends 'base.html.twig' %}

{% block title %}Tasks{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('tasks') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tasks') }}
{% endblock %}

{% block body %}
    {#    search #}
    <div>
        <form method="get" action="{{ path('search_task') }}">
            <input type="text" name="t" />
            <input type="submit" value="Search" class="content-search-icon" />
        </form>
    </div>


    {#    filter #}
    <div>
        <form method="get" action="{{ path('filter_task') }}">
            <label for="status">{{ "commons.status" | trans}}:</label>
            <select id="status" name="status">
                <option value="All">{{ "commons.all" | trans}}</option>
                <option value="pending" {% if status == 'pending' %}selected{% endif %}>{{ "commons.pending" | trans}}</option>
                <option value="completed" {% if status == 'completed' %}selected{% endif %}>{{ "commons.completed" | trans}}</option>
            </select>

{#            <label for="fromDate">From:</label>#}
{#            <input type="date" id="fromDate" name="fromDate" value="{{ fromDate }}">#}

{#            <label for="toDate">To:</label>#}
{#            <input type="date" id="toDate" name="toDate" value="{{ toDate }}">#}

            <button type="submit">{{ "commons.filter" | trans}}</button>
        </form>
    </div>


    {#    list of tasks#}
    <h2>{{ "commons.list_task" | trans}}</h2>
{#    {% if tasks.l %}#}
    <div class="task-grid">
        {% for task in tasks %}
            <div class="task-card">
                <h3>{{ task.Title }}</h3>
                <p>{{ task.description }}</p>
                <p><strong>{{ "commons.dueDate" | trans}}:</strong> {{ task.dueDate|date('Y-m-d') }}</p>
                <p><strong>{{ "commons.assigned_to" | trans}}:</strong> {{ task.assignedTo.username }}</p>
                <p><strong>{{ "commons.status" | trans}}:</strong> {{ task.status ? 'Completed' : 'Pending' }}</p>
                <div class="buttons">
{#                    {% if task.assignedTo == app.user %}#}
                    {% if task.assignedTo.username == username %}
                        <form method="post" action="{{ path('change_state', {'id': task.id}) }}">
                            <button type="submit" class="btn change-state-button">
                                {{ "commons.change_state" | trans}}
                            </button>

                        </form>
                    {# <button href="{{ path('change_state', {'id': task.id}) }}" class="btn change-state-button">Change State</button>#}
                    {% endif %}
                    <a href="{{ path('app_task_show', {'id': task.id}) }}" class="btn ml-2 view-button">{{ "commons.view_task" | trans}}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}