{% extends 'base.html.twig' %}

{% block title %}Create New Task{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form_s') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form') }}
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
{% endblock %}



{% block body %}
    <h2>Create new Task:</h2>
    <div class="flex-column align-items-center size m-5">
        {{ form_start(form) }}
        {{ form_row(form.Title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.dueDate) }}
        {{ form_row(form.assignedTo) }}

        <div class="mt-20">
            <a href="{{ path('app_task_index') }}" class="btn ml-2 cancel_btn">Cancel</a>
            <button type="submit" class="btn submit_btn">{{ "commons.save" | trans}}</button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
