{% extends 'base.html.twig' %}
{% block title %}not found{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2>{{ "commons.no_tasks_found" | trans}}.</h2>
    </div>

{% endblock %}

