{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <h1>Task</h1>
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('form') }}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('form') }}
    {% endblock %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{ "commons.id" | trans}}</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>{{ "commons.title" | trans}}</th>
                <td>{{ task.Title }}</td>
            </tr>
            <tr>
                <th>{{ "commons.description" | trans}}</th>
                <td>{{ task.description }}</td>
            </tr>
            <tr>
                <th>{{ "commons.dueDate" | trans}}</th>
                <td>{{ task.dueDate ? task.dueDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>{{ "commons.status" | trans}}</th>
                <td>{{ task.status ? 'Completed' : 'Pending' }}</td>
            </tr>
            <tr>
                <th>{{ "commons.createdAt" | trans}}</th>
                <td>{{ task.createdAt ? task.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>{{ "commons.updatedAt" | trans}}</th>
                <td>{{ task.updatedAt ? task.updatedAt|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <div class="buttons">
        <a href="{{ path('app_task_index') }}" class="btn ml-2 cancel_btn">{{ "commons.back_to_list" | trans}}</a>
        {% if permit == true %}
            <a href="{{ path('app_task_edit', {'id': task.id}) }}" class="btn ml-2 submit_btn">{{ "commons.edit" | trans}}</a>
            <form method="post" action="{{ path('app_task_delete', {'id': task.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
                <button class="btn">{{ "commons.delete" | trans}}</button>
            </form>
        {% endif %}
    </div>

{% endblock %}
