{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form') }}
{% endblock %}

{% block body %}

    <div class="flex-column align-items-center size m-5">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <div class="mt-20">
            <a href="{{ path('app_home') }}" class="btn ml-2 cancel_btn">{{ "commons.cancel" | trans}}</a>
            <button type="submit" class="btn submit_btn">{{ "commons.register" | trans}}</button>
        </div>

        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
