{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form') }}
{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="flex-column align-items-center size m-5">
        <form action="{{ path('app_login') }}" method="post">
            <label for="username">Email:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}">
{#            <br/>#}
            <label for="password">{{ "commons.password" | trans}}:</label>
            <input type="password" id="password" name="_password">

            {# If you want to control the URL the user is redirected to on success
            <input type="hidden" name="_target_path" value="/account"> #}
            <div class="mt-20">
                <a href="{{ path('app_home') }}" class="btn ml-2 cancel_btn">{{ "commons.cancel" | trans}}</a>
                <button type="submit" class="btn submit_btn">{{ "commons.login" | trans}}</button>
            </div>
        </form>
    </div>
{% endblock %}
