{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <ul>
        {% for user in users %}
            <li>{{ user.email }}</li>
        {% endfor %}
    </ul>
{% endblock %}
