{% extends 'base.html.twig' %}

{% block title %}Edit Company{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form_s') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form') }}
{% endblock %}
{% block body %}
    <h1>{{ "commons.edit" | trans}}</h1>

    {{ include('company/_form.html.twig'}) }}

    <a href="{{ path('app_company_index') }}">{{ "commons.back_to_list" | trans}}</a>

    {{ include('company/_delete_form.html.twig') }}
{% endblock %}
