{% extends 'base.html.twig' %}

{% block title %}Company index{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ "commons.id" | trans}}</th>
                <th>{{ "commons.name" | trans}}</th>
                <th>{{ "commons.description" | trans}}</th>
                <th>{{ "commons.createdAt" | trans}}</th>
                <th>{{ "commons.updatedAt" | trans}}</th>
                <th>{{ "commons.actions" | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.id }}</td>
                <td>{{ company.name }}</td>
                <td>{{ company.description }}</td>
                <td>{{ company.createdAt ? company.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ company.updatedAt ? company.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_company_show', {'id': company.id}) }}">{{ "commons.show" | trans}}</a>
                    <a href="{{ path('app_company_edit', {'id': company.id}) }}">{{ "commons.edit" | trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ "commons.no_records_found" | trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('create_company') }}">{{ "commons.create" | trans}}</a>
{% endblock %}
