{% extends 'base.html.twig' %}

{% block title %}Create Company{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form_s') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form') }}
{% endblock %}

{% block body %}

    <div class="flex-column align-items-center size m-5">
        <h1>{{ "commons.insert_company_info" | trans}}:</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}

        <div class="mt-20">
            <a href="{{ path('app_home') }}" class="btn ml-2 cancel_btn">Cancel</a>
            <button type="submit" class="btn submit_btn">{{ "commons.save" | trans}}</button>
        </div>
        {{ form_end(form) }}
    </div>
{#    <a href="{{ path('app_company_index') }}">back to list</a>#}
{% endblock %}
