{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}
    <h1>{{ "commons.company" | trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ "commons.id" | trans}}</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>{{ "commons.name" | trans}}</th>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <th>{{ "commons.description" | trans}}</th>
                <td>{{ company.description }}</td>
            </tr>
            <tr>
                <th>{{ "commons.createAt" | trans}}</th>
                <td>{{ company.createdAt ? company.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ "commons.updatedAt" | trans}}</th>
                <td>{{ company.updatedAt ? company.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_company_index') }}">{{ "commons.back_to_list" | trans}}</a>

    <a href="{{ path('app_company_edit', {'id': company.id}) }}">{{ "commons.edit" | trans}}</a>

    {{ include('company/_delete_form.html.twig') }}
{% endblock %}
