body {
  background-color: #F6F2EF;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_main{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
}

.size{
  width: 80%;
}

.submit_btn{
  background-color: #687A61;
  color: #DCC0A9;
}

.cancel_btn{
  background-color: #E8985D;
}

.signup_button{
  background-color: #687A61;
  color: #DCC0A9;
}

