//import './module/button.scss';
body {
    background-image: url('../images/home.png'); /* Adjust the path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home_main{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
}

p{
    text-align: center;
}

.signup_button{
    background-color: #687A61;
    color: #DCC0A9;
}

.login_button{
    background-color: #E8985D;
}