body {
    /*background-image: url('../images/home.png'); !* Adjust the path to your background image *!*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    background-color: #F6F2EF;
}

.home_main{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
}

p{
    text-align: center;
}

.submit_btn{
    background-color: #687A61;
    color: #DCC0A9;
}

.cancel_btn{
    background-color: #E8985D;
}