.task-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.task-card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.change-state-button {
  background-color: #687A61;
  color: white;
  //border: none;
  //padding: 5px 10px;
  cursor: pointer;
}

.view-button {
  background-color: #E8985D;
  color: white;
  //border: ;
  //padding: 5px 10px;
  text-decoration: none;
}