{% extends 'base.html.twig' %}

{% block title %}Tino{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
{% block body %}
    <div class="container mt-4">
        <div class="home_main">
            <h1>{{ "commons.wellcome_1" | trans}} <span class="text-primary">Tino</span> {{ "commons.wellcome_2" | trans}}</h1>

            <div class="border-1">
                <p>{{ "commons.about" | trans}}</p>
            </div>


            {% if isLoggedIn == false %}
                <div class="mb-3">
                    <a href="{{ path('app_login') }}" class="btn login_button">{{ "commons.login" | trans}}</a>
                    <a href="{{ path('app_register') }}" class="btn signup_button ml-2">{{ "commons.sign_up" | trans}}</a>
                </div>
            {% elseif user.roles[0] == "ROLE_USER" %}
                <p>{{ "commons.register_txt" | trans}}</p>
                <a href="{{ path('create_company') }}" class="btn login_button">{{ "commons.create_company" | trans}}</a>
            {% elseif isLoggedIn %}
                <p>{{ "commons.wellcome_3" | trans}}</p>
                <p>{{ "commons.wellcome_4" | trans}}</p>
            {% endif %}
        </div>

    </div>

{% endblock %}
